<h2>List of Available Games</h2>
<ul *ngIf="isShowing">
  <ng-container *ngFor="let game of games; let i = index">
    <!-- <app-game (gameEmitter)="addToCart($event)" [game]="game"></app-game> -->
    <app-game [game]="game"></app-game>

  </ng-container>
</ul>
<button (click)="clickHandler()" [disabled]="isDisabled">Click Me!</button>
<!-- <input type="text" name="" id="" [(ngModel)]="name" />
<p>{{ name }}</p> -->
<button (click)="toggler()">
  {{ isShowing ? "Hide" : "Display" }}
</button>
<!-- (click)="isShowing = !isShowing" -->
